<h3>Currencies stochastics information</h3>
{{#each model.currencies as |currency|}}
  <p>
  {{currency.name}}: {{currency.stoch1h.warning}}<br>
  stochastics 1h:<br>
  {{currency.stoch1h.stoch.timesInfo}}: {{currency.stoch1h.stoch.valuesInfo}}<br>
  stochastics 4h:<br>
  {{currency.stoch4h.stoch.timesInfo}}: {{currency.stoch4h.stoch.valuesInfo}}<br>
  </p>
{{/each}}

