<h3>Stochastics of currencies with signal in 4h chart</h3>
{{#if model.currenciesSignal4h}}
  {{#each model.currenciesSignal4h as |currency|}}
    <p>
    <span class="bold-text">{{currency.name}}:
      {{#if currency.isShortable}}
        (s)
      {{/if}}
      {{currency.stoch4h.warning}}
    </span><br>
    stochastics 1h:<br>
    {{currency.stoch1h.stoch.timesInfo}}: {{currency.stoch1h.stoch.valuesInfo}}<br>
    stochastics 4h:<br>
    {{currency.stoch4h.stoch.timesInfo}}: <span class="bold-text">{{currency.stoch4h.stoch.valuesInfo}}</span><br>
    </p>
  {{/each}}
{{else}}
  none
{{/if}}
<hr>
<h3>Stochastics of currencies with signal in 1h chart</h3>
{{#if model.currenciesSignal1h}}
  {{#each model.currenciesSignal1h as |currency|}}
    <p>
    <span class="bold-text">{{currency.name}}:
      {{#if currency.isShortable}}
        (s)
      {{/if}}
      {{currency.stoch1h.warning}}
    </span><br>
    stochastics 1h:<br>
    {{currency.stoch1h.stoch.timesInfo}}: <span class="bold-text">{{currency.stoch1h.stoch.valuesInfo}}</span><br>
    stochastics 4h:<br>
    {{currency.stoch4h.stoch.timesInfo}}: {{currency.stoch4h.stoch.valuesInfo}}<br>
    </p>
  {{/each}}
{{else}}
  none
{{/if}}
<hr>
<h3>Stochastics of currencies without signal</h3>
{{#if model.currenciesNeutral}}
  {{#each model.currenciesNeutral as |currency|}}
    <p>
    {{currency.name}}:
    {{#if currency.isShortable}}
      (s)
    {{/if}}
    <br>
    stochastics 1h:<br>
    {{currency.stoch1h.stoch.timesInfo}}: {{currency.stoch1h.stoch.valuesInfo}}<br>
    stochastics 4h:<br>
    {{currency.stoch4h.stoch.timesInfo}}: {{currency.stoch4h.stoch.valuesInfo}}<br>
    </p>
  {{/each}}
{{else}}
  none
{{/if}}
