  {{#paper-select
    options=model.hoursList
    selected=selectedHours
    onChange=(action "some")
    as |h|}}
    {{h}}
  {{/paper-select}}

<h3>Stochastics signal in {{selectedHours}} chart</h3>
{{#if model.currenciesSignal}}
  {{#each model.currenciesSignal as |currency|}}
    <p>
    <span class="bold-text">{{currency.name}}:
      {{#if currency.isShortable}}
        (s)
      {{/if}}
      {{currency.stoch.warning}}
    </span><br>
    stochastics:<br>
    {{currency.stoch.stoch.timesInfo}}: {{currency.stoch.stoch.valuesInfo}}<br>
    </p>
  {{/each}}
{{else}}
  none
{{/if}}
<hr>
<h3>Stochastics without signal</h3>
{{#if model.currenciesNeutral}}
  {{#each model.currenciesNeutral as |currency|}}
    <p>
    {{currency.name}}:
    {{#if currency.isShortable}}
      (s)
    {{/if}}
    <br>
    stochastics:<br>
    {{currency.stoch.stoch.timesInfo}}: {{currency.stoch.stoch.valuesInfo}}<br>
    </p>
  {{/each}}
{{else}}
  none
{{/if}}
