<h3>Cross up 21 MA in 4h chart (BUY signal)</h3>

{{#if model.currenciesBuySignal4h}}
  {{#each model.currenciesBuySignal4h as |currency|}}
    <p class="buy-signal">
    {{currency.name}}
    </p>
  {{/each}}
{{else}}
  none
{{/if}}

<hr>

<h3>Cross down 21 MA in 4h chart (SELL signal)</h3>

{{#if model.currenciesBuySignal4h}}
  {{#each model.currenciesSellSignal4h as |currency|}}
    <p class="sell-signal">
    {{currency.name}}
    {{#if currency.isShortable}}
      (s)
    {{/if}}
    </p>
  {{/each}}
{{else}}
  none
{{/if}}

<hr>

<h3>Above 21 MA in 4h chart (positive)</h3>

{{#if model.currenciesAbove21MA}}
  {{#each model.currenciesAbove21MA as |currency|}}
    <p class="neutral-positive">
    {{currency.name}} {{currency.prc}}%
    </p>
  {{/each}}
{{else}}
  none
{{/if}}

<hr>

<h3>Below 21 MA in 4h chart (negative)</h3>

{{#if model.currenciesBelow21MA}}
  {{#each model.currenciesBelow21MA as |currency|}}
    <p class="neutral-negative">
    {{currency.name}} {{currency.prc}}%
    {{#if currency.isShortable}}
      (s)
    {{/if}}
    </p>
  {{/each}}
{{else}}
  none
{{/if}}
